<div [ngClass]="{ 'loding-hide': lodingImage }" id="loding">
  <img src="assets/img/loding.gif">
</div>
<div [ngClass]="{ 'loding-ui-view': showloding }" id="ui-view">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-7" style="margin: auto;">
        <div class="card">
          <div class="card-block">
            <h5 class="card-title">Setting</h5>
            <form [formGroup]="settingAddForm" class="form-horizontal" enctype="multipart/form-data" method="post">
              <div class="form-group row">
                <label class="col-5 col-form-label" for="companyName">Company Name <span>*</span> </label>
                <div class="col-7">
                  <input [(ngModel)]="setting.companyName" class="form-control" formControlName="companyName" id="companyName"
                         name="companyName" required
                         type="text">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-5 col-form-label" for="phone">Phone <span>*</span></label>
                <div class="col-7">
                  <input [(ngModel)]="setting.phone" [maxLength]="11" [minLength]="11" class="form-control" formControlName="phone"
                         id="phone" name="phone"
                         required
                         type="text">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-5 col-form-label" for="email">Email <span>*</span></label>
                <div class="col-7">
                  <input [(ngModel)]="setting.email" class="form-control" formControlName="email" id="email" name="email" required
                         type="text">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-5 col-form-label" for="address">Address <span>*</span></label>
                <div class="col-7">
                  <input [(ngModel)]="setting.address" class="form-control" formControlName="address" id="address" name="address" required
                         type="text">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-5 col-form-label" for="loyaltyPointsPercentage">Loyalty Points Percentage</label>
                <div class="col-7">
                  <input [(ngModel)]="setting.loyaltyPointsPercentage" class="form-control" formControlName="loyaltyPointsPercentage"
                         id="loyaltyPointsPercentage"
                         name="loyaltyPointsPercentage" required
                         type="number">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-5 col-form-label" for="vatPercentage">Vat Percentage <span>*</span></label>
                <div class="col-7">
                  <input [(ngModel)]="setting.vatPercentage" class="form-control" formControlName="vatPercentage" id="vatPercentage"
                         name="vatPercentage" required
                         type="number">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-5 col-form-label" for="currency">Currency <span>*</span></label>
                <div class="col-7">
                  <input [(ngModel)]="setting.currency" class="form-control" formControlName="currency" id="currency" name="currency"
                         required
                         type="text">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-5 form-control-label">image</label>
                <div class="col-md-7">
                  <p><img *ngIf="setting.image !=''" [src]="setting.image" class="img-thumbnail"
                          style="height: 150px;width: 250px;"/></p>
                  <div class="input-group">
			                        	<span class="input-group-btn">
											<label class="btn btn-primary">
												<samp>Browse</samp>...
										  		<input (change)="fileChange($event)" [attr.multiple]="allowMultiple" accept="{{fileType}}" name="file"
                                 style="display: none;"
                                 type="file">
											</label>
			                            </span>
                    <input [class.ng-invalid-right]="required && !DisplayedText" [class.ng-valid-right]="required && DisplayedText"
                           [value]="DisplayedText" class="form-control"
                           disabled="" style="height: 35px;"
                           type="text">
                  </div>
                </div>
              </div>
              <button (click)="Update()" [disabled]="!settingAddForm.valid" class="btn btn-info" type="submit">Update</button>
            </form>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  </div>
</div>


