<div [ngClass]="{ 'loding-hide': loadingImage }" id="loding">
  <img src="assets/img/loding.gif">
</div>
<div [ngClass]="{ 'loding-ui-view': showLoading }" id="ui-view">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="card-block-title">
              <h5 class="card-title">Product</h5>
              <button (click)="open(content)" class="btn btn-info pull-right" id="add_btn" style="float: right;" type="button">
                Add Product
              </button>
            </div>

            <div class="table-responsive" id="table">
              <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover" datatable width="100%">
                <thead>
                <tr>
                  <th style="width: 5%;">#Sl</th>
                  <th>SKU</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th style="width: 10%;">Cost Price</th>
                  <th style="width: 10%;">Selling Price</th>
                  <th style="width: 5%;">Quantity</th>
                  <th style="width: 5%;">Min. Quantity</th>
                  <th style="width: 5%;">Max. Quantity</th>
                  <th style="width: 5%;">Status</th>
                  <th class="action" style="width: 9%;">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of productList; let i = index" [attr.data-index]="i">
                  <td>{{i + 1}}</td>
                  <td>{{item.serialNumber}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.category.name}}</td>
                  <td>{{setting.currency}} {{item.costPrice}}</td>
                  <td>{{setting.currency}} {{item.price}}</td>
                  <td>{{item.availableQuantity}}</td>
                  <td>{{item.minQuantity}}</td>
                  <td>{{item.maxQuantity}}</td>
                  <td><span *ngIf="!item.deleted" class="badge badge-success">Active</span> <span *ngIf="item.deleted"
                                                                                                  class="badge badge-danger">Inactive</span>
                  </td>
                  <td class="action">
                    <button (click)="openProductInfoModal(this.productList[i].id,productinfo)" class="btn btn-info btn-sm" type="button"><i
                      class="fa fa-info"></i></button>
                    <button (click)="edit(this.productList[i].id,content)" class="btn btn-outline-primary btn-sm" type="button"><i
                      class="fa fa-pencil fa-lg mt-1"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
  </div>
  <ng-template #content id="customer-add" let-c="close" let-d="dismiss"> <!-- class="modal fade" -->
    <div class="modal-info" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{modalTitle}}</h4>
          <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="productAddForm" class="form-horizontal" enctype="multipart/form-data" method="post">
            <div class="form-group row">
              <label class="col-5 col-form-label" for="serialNumber">SKU</label>
              <div class="col-7">
                <input [(ngModel)]="product.serialNumber" class="form-control" formControlName="serialNumber" id="serialNumber"
                       type="serialNumber">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-5 col-form-label" for="name">Name <span>*</span></label>
              <div class="col-7">
                <input [(ngModel)]="product.name" class="form-control" formControlName="name" id="name" name="name" required type="text">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-5 form-control-label" for="categoryId">Category <span>*</span></label>
              <div class="col-7">
                <select [(ngModel)]="product.categoryId" class="form-control" formControlName="categoryId" id="categoryId" name="categoryId"
                        required>
                  <option [selected]="!product.categoryId" value="">Please Select</option>
                  <option *ngFor="let item of cat" value="{{item.id}}">{{item.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-5 col-form-label" for="costPrice">Purchase Price <span>*</span></label>
              <div class="col-7">
                <input [(ngModel)]="product.costPrice" class="form-control" formControlName="costPrice" id="costPrice" name="costPrice"
                       required type="number">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-5 col-form-label" for="price">Selling Price <span>*</span></label>
              <div class="col-7">
                <input [(ngModel)]="product.price" class="form-control" formControlName="price" id="price" name="price" required
                       type="number">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-5 col-form-label" for="availableQuantity">Available Quantity <span>*</span></label>
              <div class="col-7">
                <input [(ngModel)]="product.availableQuantity" class="form-control" formControlName="availableQuantity"
                       id="availableQuantity"
                       name="availableQuantity"
                       required
                       type="number">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-5 col-form-label" for="minQuantity">Min. Quantity <span>*</span></label>
              <div class="col-7">
                <input [(ngModel)]="product.minQuantity" class="form-control" formControlName="minQuantity" id="minQuantity"
                       name="minQuantity"
                       required
                       type="number">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-5 col-form-label" for="maxQuantity">Max. Quantity <span>*</span></label>
              <div class="col-7">
                <input [(ngModel)]="product.maxQuantity" class="form-control" formControlName="maxQuantity" id="maxQuantity"
                       name="maxQuantity"
                       required
                       type="number">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-5 col-form-label" for="deleted">Status <span>*</span></label>
              <div class="col-7">
                <select [(ngModel)]="product.deleted" class="form-control" formControlName="deleted" id="deleted" name="deleted">
                  <option value="true">Inactive</option>
                  <option value="false">Active</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-5 form-control-label">image</label>
              <div class="col-md-7">
                <img *ngIf="product.image !=''" [src]="product.image" class="img-thumbnail"
                     style="height: 100px;width: 100px;"/>
                <div class="input-group">
		                          <span class="input-group-btn">
		                                  <label class="btn btn-primary">
		                                    <samp>Browse</samp>...
		                                      <input (change)="fileChange($event)" [attr.multiple]="allowMultiple" accept="{{fileType}}"
                                                 style="display: none;"
                                                 type="file">
		                                  </label>
		                              </span>
                  <input [class.ng-invalid-right]="required && !DisplayedText" [class.ng-valid-right]="required && DisplayedText"
                         [value]="DisplayedText" class="form-control"
                         disabled="" style="height: 35px;"
                         type="text">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button (click)="d('Cross click')" aria-label="Close" class="btn btn-secondary" type="button">Close</button>
          <button (click)="save(this.product)" [disabled]="!productAddForm.valid || !product.categoryId" class="btn btn-outline-primary"
                  type="submit">Save
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #productinfo id="customerinfo" let-c="close" let-d="dismiss">
    <div class="modal-info" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Product Information</h4>
          <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <th>SKU</th>
                  <td>{{productInfo.serialNumber}}</td>
                </tr>
                <tr>
                  <th>Product Name</th>
                  <td>{{productInfo.name}}</td>
                </tr>
                <tr>
                  <th>Category</th>
                  <td>{{productInfo.category.name}}</td>
                </tr>
                <tr>
                  <th>Purchase Price</th>
                  <td>{{productInfo.costPrice}}</td>
                </tr>
                <tr>
                  <th>Selling Price</th>
                  <td>{{productInfo.price}}</td>
                </tr>
                <tr>
                  <th>Available Quantity</th>
                  <td>{{productInfo.availableQuantity}}</td>
                </tr>
                <tr>
                  <th>Min. Quantity</th>
                  <td>{{productInfo.minQuantity}}</td>
                </tr>
                <tr>
                  <th>Max. Quantity</th>
                  <td>{{productInfo.maxQuantity}}</td>
                </tr>
                <tr>
                  <th>Image</th>
                  <td><img *ngIf="productInfo.image !=''" [src]="productInfo.image" class="img-thumbnail"
                           style="height: 100px;width: 100px;"/></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="d('Cross click')" aria-label="Close" class="btn btn-secondary" type="button">Close</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>







